*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;

    font-family: roboto, sans-serif;
}



.wh-container{
    background-color: #1F2937;
}



.header-container{
    display: flex;
    gap: 40px;
    padding: 20px 200px;
}

.logo.item{
    flex: 2 1 0;
    font-size: 24px;
    color: #F9FAF8;
}

.link.item{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}


.hc-container{
    display: flex;
    padding:  0 200px 200px 200px;
    margin: 100px 0 0 0;
}

.big-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.small-text{
    font-size: 18px;
    color: #E5E7EB;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 198.4px;
    min-width: 500px;
    background-color: grey;
    margin-left: 185px;
    color: white
}

button{
    font-size: 20px;
    color: white;
    background-color: #3882F6;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
}


.cOne{
    display: flex;
    justify-content: space-between;
    padding: 0 350px;
}

.cOneItem{
    min-width: 150px;
    min-height: 150px;
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 15px;
}


.randomInfo{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
}

.randomText{
    display: flex;
    justify-content: space-between;
    padding: 0 350px;
}

.randomTextItems{
    min-width: 150px;
    min-height: 150px;
    text-align: center;
}

.contentTwo{
        background-color: #E5E7EB;
        padding: 100px 360px;
}

.cTwopara{
    font: italic 300 36px roboto;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.cTwotext{
    font: 900 20px roboto;
    display: flex;
    justify-content: end;
}